
<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://www.medibuddy.in/assets/images/medibuddy-icon.png" width="30" height="24">
        <span class="text-primary fs-4 fw-semibold ms-2">Medlife</span>
      </a>
        <div class="text-end me-5">
            <a href="" class="ms-3 text-decoration-none">About Us</a>
            <a href="" class="ms-3 text-decoration-none cursor" data-bs-toggle="modal" data-bs-target="#exampleModal" >Login</a>
        </div>
    </div>
  </nav>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     <!-- <app-signin></app-signin> -->
     <!-- <app-sign-in></app-sign-in> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>