
<div class="container-fluid blue  p-5 ">
    <div class="row">
        <h2 class="text-center " style="color:#fff">
            Get Huge Savings on Medicines
         </h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
                <div class="p-2 bd-highlight" style="color:#fff"><i class="bi bi-check-circle-fill"></i> &nbsp; 100 % Genuine Medicines</div>
                <div class="p-2 bd-highlight" style="color:#fff"><i class="bi bi-check-circle-fill"></i> &nbsp;Trusted Pharmacies</div>
                <div class="p-2 bd-highlight" style="color:#fff"><i class="bi bi-check-circle-fill"></i>&nbsp; Delivery to your doorstep
                </div>
                <div class="p-2 bd-highlight" style="color:#fff"><i class="bi bi-check-circle-fill"></i>&nbsp;Store Pick up</div>
              </div>
        </div>
       
</div>
    </div>

    <div class="container w-75">
   
            <div class="input-group w-40 p-20">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
              </div>
 
      
                
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src=" https://www.medibuddy.in/assets/banners/medicine-page.webp" width="100%">
        </div>
    </div>
    </div>
 
 <div class="container" class="mt-5">
    <div class="row">
        <app-topdeals></app-topdeals>
    </div>
 </div>
   
<!-- </div> -->
